<footer class="text-light bg-dark pt-5 pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    We are an online market place that provides customers easy and comfortable access to their daily
                    needs with unforgettable shopping experience.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Quick Links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a target="_blank" rel="noopener" href="./../../../../assets/html/privacy-policy.html">Privacy
                            Policy</a></li>
                    <li><a target="_blank" rel="noopener" href="./../../../../assets/html/terms-of-service.html">Terms
                            and Conditions</a></li>
                    <li><a target="_blank" rel="noopener"
                            href="./../../../../assets/html/return-refund-policy.html">Return and Refund Policy</a></li>
                    <!--<li><a target="_blank" rel="noopener" href="">Cookie Policy</a></li>
                    <li><a target="_blank" rel="noopener" href="">About Us</a></li>-->
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Payments</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <div class="row">
                    <img src="./assets/img/payment/visa.svg" alt="Visa card" class="rounded mx-auto d-block w-25 h-25">
                    <img src="./assets/img/payment/master.svg" alt="Master card" class="rounded mx-auto d-block w-25 h-25">
                    <!--<img src="./assets/img/payment/amex.svg" alt="Americal Express card" class="rounded mx-auto d-block w-25 h-25">
                    <img src="./assets/img/payment/diners.svg" alt="Diners club" class="rounded mx-auto d-block w-25 h-25">-->
                    <img src="./assets/img/payment/cod.svg" alt="Cash on delivery" class="rounded mx-auto d-block w-25 h-25">
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>Devi Trading Private Limited</li>
                    <li><i class="fa fa-envelope mr-2"></i>sales@devionline.lk</li>
                    <!--<li><i class="fa fa-phone mr-2"></i>+94 3422221649</li>-->
                    <!--<li><i class="fa fa-print mr-2"></i>+94 3422221649</li>-->
                </ul>
            </div>

        </div>
    </div>
</footer>