<div class="container m-5">
    <div class="row" *ngIf="product !== undefined">
        <!--Product Image-->
        <div class="col-4">
            <img src="{{serverUrl}}{{product.fullImage}}" class="img-fluid" alt="Responsive image">
        </div>
        <!--Details-->
        <div class="col-7">
            <div class="row">
                <p class="font-weight-normal product-name">{{product.name}}</p>
            </div>
            <div class="row">
                <p class="font-weight-light product-description">
                    {{product.long_desc}}
                </p>
            </div>
            <div class="row">
                <p>Unit Price:</p> {{product.unit_price_lkr}}
            </div>
            <div class="row">
                <p>Size:</p> {{product.measurementUnit}}
            </div>

            <!--Quantity-->
            <div class="row">
                <div class="col">
                    <p>Quantity</p>
                    <div class="input-group mb-3 w-50">
                        <div class="input-group-prepend" (click)="increaseQuantity()">
                            <span class="input-group-text">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <input type="text" disabled value="{{quantity}}" class="form-control" aria-label="Quantity">
                        <div class="input-group-append" (click)="decreaseQuantity()">
                            <span class="input-group-text">
                                <i class="fas fa-minus"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <button *ngIf="product.stockAvailable" type="button" class="btn btn-success" (click)="addItemToCart(product)">
                    <i class="fas fa-cart-plus"></i> | Add to cart</button>
                <button *ngIf="!product.stockAvailable" type="button" disabled class="btn btn-danger">
                    <i class="fas fa-ban"></i> | Out of Stock</button>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>