<div class="container">
    <div class="row" *ngIf="product !== undefined">
        <!--Product Image-->
        <div class="col-md-4">
            <img src="{{serverUrl}}{{product.fullImage}}" class="img-fluid" alt="Responsive image">
        </div>
        <!--Details-->
        <div class="col-md-8">
            <div class="row">
                <p class="font-weight-normal product-name">{{product.name}}</p>
            </div>
            <div class="row">
                <p class="font-weight-light product-description">
                    {{product.long_desc}}
                </p>
            </div>
            <div class="row">
                <p>Unit Price:</p> {{product.unit_price_lkr}}
            </div>
            <div class="row">
                <p>Size:</p> {{product.measurementUnit}}
            </div>

            <!--Quantity-->
            <div class="row">
                <div class="col p-0">
                    <p>Quantity</p>
                    <div class="input-group mb-3 w-25">
                        <div class="input-group-prepend" (click)="increaseQuantity()">
                            <span class="input-group-text">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                        <input type="text" disabled value="{{quantity}}" class="form-control" aria-label="Quantity">
                        <div class="input-group-append" (click)="decreaseQuantity()">
                            <span class="input-group-text">
                                <i class="fas fa-minus"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--Buttons-->
            <div class="row mt-2">
                <button *ngIf="product.stockAvailable && !isAlreadyAdded" type="button" class="btn btn-success" (click)="addItemToCart(product)">
                    <i class="fas fa-cart-plus"></i> | ADD TO CART</button>
                <button *ngIf="!product.stockAvailable" type="button" disabled class="btn btn-secondary">
                    <i class="far fa-frown"></i> | OUT OF STOCK</button>
                <button *ngIf="product.stockAvailable && isAlreadyAdded" type="button" class="btn btn-danger" (click)="removeItemFromCart()">
                    <i class="far fa-trash-alt"></i> | REMOVE FROM CART</button>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>