<div class="container">
    <div class="row">
        <!--Product Image-->
        <div class="col-4">
            <img src="/assets/dummy-data/products/brown_sugar.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!--Details-->
        <div class="col-7">
            <div class="row">
                <p class="font-weight-normal product-name">Brown Sugar</p>
            </div>    
            <div class="row">
                <p class="font-weight-light product-description">
                    Brown sugar is a sucrose sugar product with a distinctive brown color due to the presence of
                    molasses. It is either an unrefined or partially refined soft sugar consisting of sugar crystals
                    with some residual molasses content, or it is produced by the addition of molasses to refined white
                    sugar.
                </p>
            </div>
            <div class="row">
                <p>Unit Price:</p> 230LKR
            </div>
            <div class="row">
                <p>Size:</p> 1Kg Packs
            </div>
            <div class="row">
                <div class="section" style="padding-bottom:20px;">
                    <p>Quantity</p>                  
                    <div class="row">
                        <div class="btn-minus"><i class="fas fa-plus"></i></div>
                        <input value="1" />
                        <div class="btn-plus"><i class="fas fa-minus"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-success">Add to cart</button>
                <button type="button" class="btn btn-danger">Out of Stock</button>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>