<div class="container">
    <div class="row">
        <!--Cart View-->
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{cartItems.length}}</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of cartItems">
                    <div>
                        <h6 class="my-0">{{item.product.name}}</h6>
                        <small class="text-muted">{{item.product.unit_price_lkr}} LKR / {{item.quantity}}</small>
                    </div>
                    <span class="text-muted">{{item.product.unit_price_lkr * item.quantity}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Delivery Charge (LKR)</span>
                    <strong>{{cart.deliveryCharge}}</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (LKR)</span>
                    <strong>{{total}}</strong>
                </li>
            </ul>
        </div>

        <!--Billing Information-->
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form [formGroup]="checkoutForm" (ngSubmit)="submitForm(checkoutForm.value)">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName"
                            placeholder="first name"
                            [ngClass]="{ 'is-invalid': submitted && formField.firstName.errors }" required>
                        <div class="invalid-feedback" *ngIf="formField.firstName.errors">
                            <div *ngIf="formField.firstName.errors.required"> First name is required.</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="last name"
                            [ngClass]="{ 'is-invalid': submitted && formField.lastName.errors }" value="" required>
                        <div class="invalid-feedback" *ngIf="formField.lastName.errors">
                            <div *ngIf="formField.lastName.errors.required"> Last name is required.</div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                        placeholder="you@example.com" [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"
                        required>
                    <div class="invalid-feedback" *ngIf="formField.email.errors">
                        <div *ngIf="formField.email.errors.required">Please enter a valid email address for shipping
                            updates.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="contact_number">Contact Number</label>
                    <input type="contact_number" class="form-control" id="contact_number" formControlName="contact_number"
                        placeholder="071XXXXXXX" [ngClass]="{ 'is-invalid': submitted && formField.contact_number.errors }"
                        required>
                    <div class="invalid-feedback" *ngIf="formField.contact_number.errors">
                        <div *ngIf="formField.contact_number.errors.required">Please enter a valid contact number</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="district">District</label>
                        <select class="custom-select d-block w-100" id="district" formControlName="district"
                            [ngClass]="{ 'is-invalid': submitted && formField.district.errors }" required
                            (change)="onDistrictChange($event.target.value)">
                            <option value="">Choose...</option>
                            <option *ngFor="let district of districtList" [value]="district._id">{{district.name_en}}
                            </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="formField.district.errors">
                            <div *ngIf="formField.district.errors.required">Please select a valid district.</div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="city">City</label>
                        <select class="custom-select d-block w-100" id="city" formControlName="city"
                            [ngClass]="{ 'is-invalid': submitted && formField.city.errors }" required
                            (change)="onCityChange($event.target.value)">
                            <option value="">Choose...</option>
                            <option *ngFor="let city of deliveryCityList"
                                [value]="city.city._id">
                                {{city.city.name_en}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="formField.city.errors">
                            <div *ngIf="formField.city.errors.required">Please provide a valid city.</div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Street Address</label>
                    <input type="text" class="form-control" id="address" formControlName="address"
                        placeholder="12/3, Gall Road" [ngClass]="{ 'is-invalid': submitted && formField.address.errors }"
                        required>
                    <div class="invalid-feedback" *ngIf="formField.address.errors">
                        <div *ngIf="formField.address.errors.required">Please enter your shipping address.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="optionalAddress">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="optionalAddress" formControlName="optionalAddress"
                        placeholder="Apartment or suite">
                </div>

                <!--Payment Information-->
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="payment" formControlName="payment" value="cc" type="radio"
                            class="custom-control-input" disabled>
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="payment" type="radio" value="dc" formControlName="payment"
                            class="custom-control-input" disabled>
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <p class="text-info">Credit card and debit card payment facility will be available soon</p>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="cod" name="payment" type="radio" value="cod" formControlName="payment"
                            class="custom-control-input">
                        <label class="custom-control-label" for="cod">Cash on Delivery</label>
                    </div>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">Terms and Conditions</h4>
                <div class="d-block my-3">
                    <div class="custom-checkbox ml-4">
                        <input id="tcAccept" name="tcAccept" formControlName="tcAccept" type="checkbox"
                            class="custom-control-input"
                            [ngClass]="{ 'is-invalid': submitted && formField.tcAccept.errors }">
                        <label class="custom-control-label" for="tcAccept">I have read and agree to the
                            <a target="_blank" href="./../../../../assets/html/terms-of-service.html"> Terms and
                                Conditions</a>
                        </label>
                        <div class="invalid-feedback" *ngIf="formField.tcAccept.errors">
                            <div *ngIf="formField.tcAccept.errors.required">You should accept the terms and conditions
                                to continue.</div>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Pay</button>
            </form>
        </div>
    </div>
</div>