<div class="contianer-fluid">
    <div class="row">
        <div class="col-6">
            <h1>Our packs</h1>
            <app-pack-grid *ngFor="let item of defaultPackList" [pack]="item"></app-pack-grid>
        </div>
        <div class="col-6">
            <h1>My Packs</h1>
            <div *ngIf="!appAuthService.validSessionAvailable" class="text-center w-100 mt-5">
                <p>Please <button type="button" class="btn btn-link">login</button> to see your packs</p>
            </div>
            <div *ngIf="appAuthService.validSessionAvailable" class="text-center w-100">
                <app-pack-grid *ngFor="let item2 of myPackList" [pack]="item2"></app-pack-grid>
            </div>
            <div class="text-center w-100" *ngIf="!userPackAvailable">
                <p>You don't have any pack, let's <button type="button" (click)="showCreatePack()" class="btn btn-link">create</button> one</p>
            </div>
        </div>
    </div>
</div>