<!--small information bar which contains fb, email, twitter and some other text-->
<app-top-info-bar></app-top-info-bar>
<!--main top view which contains app name, login buttons, cart button etc-->
<app-top-nav-bar></app-top-nav-bar>

<div class="container bg-transparent">
    <!--Content-->
    <div class="row">
        <!--<div class="col-3">
            <app-product-type-list></app-product-type-list>
        </div>-->
        <div class="col mx-auto">
            <router-outlet></router-outlet>  
        </div>
    </div>
</div>
<!--footer-->
<app-footer></app-footer>