<div class="container w-100">
    <!--Ad View-->
    <div class="row">
        <app-ad-carousel></app-ad-carousel>
    </div>
    <!--Product Type Preview-->
    <div class="row float-right">
        <app-new-items-view></app-new-items-view>
        <app-product-type-preview class="w-100" [productType]="'cake'"></app-product-type-preview>
        <app-product-type-preview class="w-100" [productType]="'grocery'"></app-product-type-preview>
        <app-product-type-preview class="w-100" [productType]="'lubs'"></app-product-type-preview>
        <app-product-type-preview class="w-100" [productType]="'stationary'"></app-product-type-preview>
    </div>
    <div class="row">
        <app-ad-stat-customer></app-ad-stat-customer>
    </div>
</div>