<div class="container">
    <!--Content-->
    <div class="row w-100">
        <div class="col-3">
            <app-product-type-list></app-product-type-list>
        </div>
        <div class="col-9">
            <!--Ad View-->
            <div class="row">
                <app-ad-carousel></app-ad-carousel>
            </div>
            <!--Product Type Preview-->
            <div class="row float-right">
                <app-product-type-preview class="w-100"></app-product-type-preview>
                <app-product-type-preview class="w-100"></app-product-type-preview>
                <app-product-type-preview class="w-100"></app-product-type-preview>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>