<div class="container w-100">
    <!--Ad View-->
    <div class="row">
        <app-ad-carousel></app-ad-carousel>
    </div>
    <!--Product Type Preview-->
    <div class="row float-right">
        <!--pack preview-->
        <app-new-items-view></app-new-items-view>

        <div class="">
            <img class="w-100" src="../../../assets/img/wants_to_be_a_supplier.webp">
        </div>
        <!--Grocery Items-->
        <app-product-type-preview class="w-100" [productTypeId]="'5eece6aa5bd4a8557067f22c'" [category]="'Grocery Items'"></app-product-type-preview>
        <app-product-type-preview class="w-100" [productTypeId]="'5eece6aa5bd4a8557067f22c'" [category]="'Grocery Items'"></app-product-type-preview>
        <app-product-type-preview class="w-100" [productTypeId]="'5eece6aa5bd4a8557067f22c'" [category]="'Grocery Items'"></app-product-type-preview>
        <app-product-type-preview class="w-100" [productTypeId]="'5eece6aa5bd4a8557067f22c'" [category]="'Grocery Items'"></app-product-type-preview>
    </div>
    <div class="row">
        <app-ad-stat-customer></app-ad-stat-customer>
    </div>
</div>