.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search-button {
    background-color: #e38a17ff;
    border-color: #e38a17ff;
}

.search-input {
    border-color: #e38a17ff;
}

//Small screens
@media screen and (max-width: 991px) {
    .nav-mob {
        display: flex;
    }
    .nav-desk {
        display: none;
    }
    .w-30 {
        width: 30%;
    }
}

// desktops
@media screen and (min-width: 992px) {
    .nav-desk {
        display: flex;
    }
    .nav-mob {
        display: none;
    }
    .w-30 {
        width: 35%;
    }
}
