<ul class="nav flex-column sticky-top">
	<li class="nav-item navbar-dark bg-dark">
		<nav class="navbar sticky-top navbar-expand-lg" style="height: 80px;">
			<!--Corporate Logo/Name-->
			<a class="navbar-brand w-25" (click)="showHome()">
				<img src="/assets/img/logo.png" width="197" height="50" alt="" loading="lazy">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!--Search Products-->
			<div class="collapse navbar-collapse w-50" id="navbarSupportedContent">
				<ul class="navbar-nav nav-fill mr-auto ml-auto w-100">
					<div class="input-group">

						<input type="text" class="form-control mr-auto ml-auto w-50 search-input"
							placeholder="Search products" [(ngModel)]="selectedProduct" [typeahead]="productList"
							typeaheadOptionField="name" typeaheadGroupField="category.name"
							(typeaheadOnSelect)="onSelectProduct($event)">

						<div class="input-group-append">
							<button class="btn btn-secondary search-button" type="button">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</ul>
			</div>

			<div class="collapse navbar-collapse w-25">

				<ul class="navbar-nav inline ml-auto">
					<!--Packs-->
					<li class="nav-item mr-3">
						<a class="nav-link" tabindex="-1" role="button" (click)="showPacks()">
							<!--<span class="align-middle mr-2">Cart</span>-->
							<!--<i class="fas fa-shopping-cart fa-2x"></i>-->
							<span class="pe-is-ec-basket-star" style="font-size: 30px; color: white"></span>
							<span class="badge badge-danger badge-pill align-top">New</span>
						</a>
					</li>

					<!--Cart-->
					<li class="nav-item mr-3">
						<a class="nav-link" tabindex="-1" role="button" (click)="showCart()">
							<!--<span class="align-middle mr-2">Cart</span>-->
							<!--<i class="fas fa-shopping-cart fa-2x"></i>-->
							<span class="pe-is-ec-cart-1" style="font-size: 30px; color: white"></span>
							<span class="badge badge-danger badge-pill align-top">4</span>
						</a>
					</li>

					<!--Login-->
					<div class="dropdown">
						<a class="nav-link mr-3" role="button" id="dropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<!--<span class="mr-2 mb-2">Sign In</span>-->
							<!--<i class="fas fa-user fa-2x text-white" style="size: 30px;"></i>-->
							<span class="pe-is-ec-profile" style="font-size: 30px; color: white"></span>
						</a>

						<!--Menu for guest user-->
						<div class="dropdown-menu dropdown-menu-right" *ngIf="loggedUser === undefined" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" (click)="showLogin()">Login</a>
							<a class="dropdown-item" (click)="showRegister()">Register</a>
						</div>
						<!--Menu for logged user-->
						<div class="dropdown-menu dropdown-menu-right" *ngIf="loggedUser !== undefined" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" (click)="showMyPacks()">Profile</a>
							<a class="dropdown-item" (click)="showProfile()">My Packs</a>
						</div>
					</div>
				</ul>
			</div>
		</nav>
	</li>

	<!--Menu items-->
	<li class="nav-item">
		<app-product-type-list></app-product-type-list>
	</li>

	<!--Breadcrumb navigation-->
	<li class="nav-item pb-1">
		<app-breadcrumb [urls]="bcUrls"></app-breadcrumb>
	</li>

</ul>