<div class="card m-1 p-0 shadow-sm" style="max-width: 27em;">
    <div class="row  bg-success m-1">
        <div class="col-sm-2 bg-success my-auto">
            <h1 class="text-white text-center">{{pack.packItems.length}}</h1>
        </div>
        <div class="col-sm-8 bg-white">
            <div class="row p-1">
                <h4>{{pack.name}}</h4>
            </div>
            <div class="row p-1">
                <p class="cut-off-2">{{pack.description}}</p>
            </div>
        </div>
        <div class="col-sm-2 float-right bg-white">
            <button type="button" class="btn" (click)="showCheckout()">
                <i class="fas fa-cart-plus"></i>
            </button>
            <button type="button" class="btn" (click)="showModal(packDetailViewTemplate, pack)">
                <i class="fas fa-info-circle"></i>
            </button>
            <button type="button" class="btn" (click)="showPackEdit()">
                <i class="far fa-edit"></i>
            </button>
        </div>
    </div>
</div>

<!-- Quick View of the Pack Content -->
<ng-template #packDetailViewTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Pack Content</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let item of selectedItems">
            <p>{{item.productId.name}}</p>
            <p>{{item.quantity}}</p>
        </div>
    </div>
</ng-template>