/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
//@import "assets/sass/now-ui-kit.scss";
@import "assets/css/icons.css";

.btn-orange {
    background-color: orange;
    border-color: orange;
    color: white;
}