<nav class="bg-brown">
    <ul class="nav flex-column bg-brown">
        <li class="nav-item navbar-light bg-brown navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
                aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse w-100" id="navbarSupportedContent2">
                <a type="button" [routerLink]="['/product', item.name, item._id]" class="btn bg-transparent btn-sm ml-2"
                    *ngFor='let item of categoryList; let i = index'>
                    {{item.name}}
                </a>
            </div>
        </li>
    </ul>
</nav>